* {
  margin: 0;
  padding: 0; }

a img {
  border: 0; }

input, select, textarea, button {
  font-family: inherit; }

ul li.leaf {
  list-style: none; }

body {
  font-family: 'Avenir', sans-serif;
  font-weight: 100;
  font-size: 18px; }

.clearfix {
  clear: both; }

#logo {
  float: left; }

.region-header {
  float: right;
  padding-top: 65px; }

#header {
  padding: 20px 30px;
  position: relative;
  border-bottom: 3px solid #0b9444; }

#block-system-main-menu li {
  float: left;
  padding-right: 1em; }
  #block-system-main-menu li a {
    text-decoration: none;
    color: #126b36;
    font-size: 18px;
    font-weight: normal;
    font-weight: 600; }
    #block-system-main-menu li a:hover {
      color: #8dc63f; }

#block-block-1,
#block-system-main-menu {
  display: inline-block; }

#block-block-1 {
  width: 148px;
  padding-left: 4.5em;
  padding-top: 20px; }

#block-block-2 {
  position: absolute;
  top: 10px;
  color: #126b36;
  right: 45px;
  font-size: 14px; }

.backbg {
  background-size: cover;
  height: 500px;
  width: 100%; }

.region-content {
  position: relative; }
  .region-content .content {
    max-width: 942px;
    margin: 0 auto; }
    .region-content .content p {
      padding-bottom: 20px; }

#node-3 {
  padding: 40px 10px; }
  #node-3 > h2 {
    display: none; }
  #node-3 h1 {
    font-size: 3.2em;
    color: #126b36;
    padding-bottom: 30px;
    max-width: 650px; }
  #node-3 .node-readmore {
    display: none; }

#block-block-3 {
  padding-bottom: 30px; }
  #block-block-3 .cross {
    background: #126b36;
    height: 30px;
    position: relative;
    width: 1px;
    display: inline-block;
    margin: 0px 36px;
    margin-bottom: 55px; }
  #block-block-3 img {
    display: inline-block; }
  #block-block-3 .cross:after {
    background: #126b36;
    content: "";
    height: 1px;
    left: -15px;
    position: absolute;
    top: 14px;
    width: 30px; }

#block-views-header-images-block .content {
  max-width: 100%; }

#block-block-4 {
  height: 600px;
  width: 100%;
  margin: 30px 0px;
  border-bottom: 3px solid #126b36;
  border-top: 3px solid #126b36;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5) inset; }
  #block-block-4 .gm-style:before, #block-block-4 .gm-style:after {
    content: "";
    top: -5px;
    width: 100%;
    height: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 999;
    position: absolute; }
  #block-block-4 .gm-style:after {
    bottom: -5px;
    top: auto;
    box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.5); }

#block-block-5 {
  position: absolute;
  bottom: 70px;
  right: 100px;
  max-width: 400px;
  color: white;
  border-radius: 576px;
  padding: 100px 100px;
  background-color: #126b36;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); }
  #block-block-5 h2 {
    font-size: 3.8em;
    padding-bottom: 20px; }
  #block-block-5 .content {
    padding-left: 40px; }
  #block-block-5 #phone {
    margin-bottom: 20px; }
  #block-block-5 a {
    color: white; }
  #block-block-5 p {
    position: relative; }
    #block-block-5 p:before {
      display: inline-block;
      position: absolute;
      left: -36px; }
  #block-block-5 #address:before {
    content: url(../images/green-marker.png); }
  #block-block-5 #phone:before {
    content: url(../images/green-phone.png); }
  #block-block-5 #email:before {
    content: url(../images/green-email.png); }

#footer {
  text-align: center;
  margin-bottom: 40px; }
  #footer > div {
    max-width: 942px;
    margin: 0 auto; }
  #footer span {
    padding-right: 40px;
    display: inline-block;
    border-right: 1px solid #0b9444; }
  #footer a {
    color: #5f6062; }
  #footer #copyright {
    font-size: 12px;
    color: #5f6062;
    font-weight: 100;
    padding-top: 35px;
    margin-top: 35px;
    border-top: 1px solid #0b9444; }

#footer a,
#block-block-5 a {
  text-decoration: none; }
  #footer a:hover,
  #block-block-5 a:hover {
    text-decoration: underline; }

#block-block-6 {
  width: 200px;
  display: inline-block;
  padding-left: 40px; }

#block-block-7 {
  overflow: hidden;
  color: white;
  border-top: 3px solid #0b9444;
  border-bottom: 3px solid #0b9444;
  background: url(../images/about-background.jpg) no-repeat;
  background-size: cover;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5) inset; }
  #block-block-7 h2 {
    font-size: 55px;
    max-width: 700px;
    margin: 0 auto;
    padding-top: 40px;
    color: #126b36;
    padding-left: 290px; }
    #block-block-7 h2:after {
      content: url(../images/uw-white-logo.png);
      padding-left: 100px; }
  #block-block-7 p {
    float: left;
    outline: none; }
  #block-block-7 .slick-prev,
  #block-block-7 .slick-next {
    height: 40px;
    width: 30px;
    cursor: pointer;
    top: auto;
    bottom: 75px; }
  #block-block-7 .content {
    max-width: inherit;
    position: relative;
    left: 0;
    max-width: 900px;
    padding: 200px 0px;
    padding-bottom: 135px;
    padding-top: 25px;
    line-height: 1.5em;
    padding-left: 250px; }
  #block-block-7 .slick-prev {
    background: url(../images/left-small-arrow.png) no-repeat;
    left: 250px; }
  #block-block-7 .slick-prev.slick-disabled {
    background: url(../images/left-small-arrow-fade.png) no-repeat; }
  #block-block-7 .slick-next.slick-disabled {
    background: url(../images/right-small-arrow-fade.png) no-repeat; }
  #block-block-7 .slick-next {
    background: url(../images/right-small-arrow.png) no-repeat;
    left: 300px;
    background-color: transparent; }

.button {
  padding: 15px 15px;
  display: block;
  background-color: white;
  max-width: 200px;
  font-weight: 600;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 30px;
  color: #126b36;
  text-decoration: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); }

.view-header-images {
  position: relative;
  height: 500px;
  border-bottom: 3px solid #0b9444; }
  .view-header-images .views-field-field-image-header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -10;
    border-bottom: 3px solid #0b9444; }
  .view-header-images .views-row {
    position: relative;
    overflow: hidden;
    height: 500px;
    float: left;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5) inset; }
  .view-header-images .slick-arrow {
    height: 177px;
    width: 92px; }
  .view-header-images .slick-prev {
    left: 0px;
    background: url(../images/left-arrow.png) no-repeat; }
  .view-header-images .slick-next {
    right: 0px;
    background: url(../images/right-arrow.png) no-repeat; }
  .view-header-images .views-field-body {
    color: white;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%); }
    .view-header-images .views-field-body h1 {
      font-size: 4.2em;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }

.view-testimonials {
  text-align: center;
  color: #126b36;
  margin: 40px 0px; }
  .view-testimonials .views-field-field-image-testimonials {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 150px;
    overflow: hidden;
    border: 2px solid #126b36; }
  .view-testimonials .views-field-title {
    color: #0b9444;
    font-size: 14px; }
    .view-testimonials .views-field-title:before {
      content: "";
      height: 1px;
      width: 10px;
      display: inline-block;
      border-top: 1px solid #0b9444;
      position: relative;
      top: -3px; }
  .view-testimonials .views-field-body {
    position: relative;
    padding: 30px 0px 10px; }
    .view-testimonials .views-field-body:after, .view-testimonials .views-field-body:before {
      height: 100px;
      position: absolute;
      width: 124px; }
    .view-testimonials .views-field-body p {
      font-weight: 600; }
    .view-testimonials .views-field-body:after {
      content: "";
      right: -67px;
      bottom: -20px;
      background: url(../images/left-quote.png) no-repeat; }
    .view-testimonials .views-field-body:before {
      content: "";
      left: -40px;
      top: -28px;
      background: url(../images/left-quote.png) no-repeat; }

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  z-index: 999;
  border: 0px;
  color: transparent;
  cursor: pointer;
  outline: none; }

@media screen and (max-width: 980px) {
  #block-block-3 .cross {
    margin-bottom: 30px; }
  #block-block-3 .content {
    max-width: 752px;
    padding: 0 10px; }
  #block-block-3 img {
    width: 88px; } }
